/* src/components/SideNav.css */
:root {
  --sidebar-bg: #191c20;
  --sidebar-fg: #cbd3da;
  --sidebar-fg-strong: #ffffff;
  --sidebar-accent: #0d6efd;
}

.sidebar {
  width: 260px;
  min-height: 100vh;
  background: var(--sidebar-fg-strong);
  color: var(--sidebar-fg);
  position: sticky;
  top: 0;
  z-index: 1020;
  transition: width .25s ease;
  border-right: solid 1px lightgray;
}
.btn-outline-light{
border: solid 1px #000;
}

.sidebar.is-collapsed { width: 72px; }

/* header */
.sidebar__header {
  height: 56px;
  border-bottom: 1px solid rgba(255,255,255,.06);
}
.sidebar__logo {
  color: #000000;
  font-weight: 600;
}

/* scroll area */
.sidebar__scroll { overflow-y: auto; max-height: calc(100vh - 56px); }

/* Accordion overrides */
.sidebar .accordion-button {
  background: transparent !important;
  color: #565656 !important;
  padding: .75rem 1rem;
  box-shadow: none !important;

  padding: 15px 25px;
    line-height: 20px;
    color: #a6aab4;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    white-space: nowrap;
    display: flex;

}

.accordion{margin-top: 50px;}
.sidebar .accordion-button:focus { box-shadow: none; }
.sidebar .accordion-button:not(.collapsed) {
  color: #0f41b3 !important;
  background: rgba(255,255,255,.04) !important;
}
.sidebar .accordion-button::after { filter: invert(1) opacity(.7); }
.sidebar .accordion-item { 
  margin-bottom: 0;
  border-top: 0;
  margin: 10px 0;
  border-bottom: solid 1px #f3f3f3; 
}
.sidebar .accordion-body { padding: .25rem 0 .5rem; }

/* links */
.sidebar__link {
  width: 100%;
  text-align: left;
  border: 0;
  background-color: #f7f7f7;
  color: var(--sidebar-bg);
  padding: .45rem 1.25rem .45rem 2.75rem;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
}
.sidebar__link:hover,
.sidebar__link:focus {
  color: #1412129f;
  background: rgba(255,255,255,.06);
}

/* icon/label visibility in collapsed */
.sidebar.is-collapsed .accordion-button .sidebar__label,
.sidebar.is-collapsed .accordion-body,
.sidebar.is-collapsed .sidebar__logo {
  display: none !important;
}
.sidebar.is-collapsed .accordion-button {
  justify-content: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.sidebar__icon {
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--sidebar-bg);


  float: left;
    margin-right: 0.94rem;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 1.5rem;
}

/* responsive tweaks */
@media (max-width: 991.98px) {
  .sidebar { position: fixed; left: 0; top: 0; height: 100vh; }
}
